<a href="https://colab.research.google.com/github/4110E238/cs2022-/blob/main/4110E238ver_1%262_1130.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Join tuple

In [2]:
tuple1 = ("j", "o" , "v")
tuple2 = (2, 4, 6)

tuple3 = tuple1 + tuple2
print(tuple3)

('j', 'o', 'v', 2, 4, 6)

Multiply tuples

In [4]:
fruits = ("mango", "peach", "pear")
mytuple = fruits * 2

print(mytuple)

('mango', 'peach', 'pear', 'mango', 'peach', 'pear')

**PYTHON** **SET** 

---
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

**Dictionary**

In [5]:
thisdict = {
  "brand": "honda",
  "model": "mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'honda', 'model': 'mustang', 'year': 1964}

**Dictionary** **Items**

In [6]:
thisdict = {
  "brand": "honda",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

honda

**Duplicates Not Allowed**

In [7]:
thisdict = {
  "brand": "honda",
  "model": "ford",
  "year": 2000,
  "year": 2017
}
print(thisdict)

{'brand': 'honda', 'model': 'ford', 'year': 2017}

**Dictionary Length**

In [8]:
print(len(thisdict))

3

Dictionary Items - Data Types

In [10]:
thisdict = {
  "brand": "Honda",
  "electric": False,
  "year": 1964,
  "colors": ["grey", "white", "black"]
}

**type()**

In [11]:
thisdict = {
  "brand": "honda",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

**The dict() Constructor**

In [12]:
thisdict = dict(name = "Jovie", age = 19, country = "Japan")
print(thisdict)

{'name': 'Jovie', 'age': 19, 'country': 'Japan'}

**Python - Access Dictionary Items**

**Accessing Item**

In [13]:
thisdict = {
  "brand": "honda",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

**Get Keys**

In [14]:
x = thisdict.keys()

**Change Values**

In [16]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

Update Dictionary

In [17]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

Adding Items

In [19]:
thisdict = {
  "brand": "honda",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "yellow"
print(thisdict)

{'brand': 'honda', 'model': 'Mustang', 'year': 1964, 'color': 'yellow'}

Removing Items

In [20]:
thisdict = {
  "brand": "Ford",
  "model": "honda",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

Loop Through a Dictionary

In [21]:
for x in thisdict:
  print(x)

brand
year

Copy a Dictionary

In [22]:
thisdict = {
  "brand": "honda",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'honda', 'model': 'Mustang', 'year': 1964}

Nested Dictionaries

In [23]:
myfamily = {
  "child1" : {
    "name" : "verl",
    "year" : 2000
  },
  "child2" : {
    "name" : "jov",
    "year" : 2002
  },
  "child3" : {
    "name" : "ash",
    "year" : 2006
  }
}

Python If ... Else

Python Conditions and If statements

In [24]:
a = 29
b = 300
if b > a:
  print("b is greater than a")

b is greater than a

Elif

In [25]:
a = 22
b = 22
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

Else

In [26]:
a = 300
b = 29
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Short Hand If

In [27]:
if a > b: print("a is greater than b")

a is greater than b

Short Hand If ... Else

In [28]:
a = 2
b = 330
print("A") if a > b else print("B")

B

And

In [29]:
a =300
b = 29
c = 660
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

Or

In [30]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

Nested If

In [31]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

The pass Statement

In [32]:
a = 33
b = 200

if b > a:
  pass

Python Loops

The while Loop

In [33]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The break Statement

In [34]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Python For Loops

In [36]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

Looping Through a String

In [37]:
for x in "banana":
  print(x)

b
a
n
a
n
a

The break Statement

In [38]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

The continue Statement

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

The range() Function

In [39]:
for x in range(6):
  print(x)

0
1
2
3
4
5

Else in For Loop

In [40]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

Nested Loops

In [41]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

The pass Statement

In [ ]:
for x in [0, 1, 2]:
  pass

Python Functions

Creating a Function

---def my_function():
  print("Hello from a function")

Calling a Function

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Arguments

In [42]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("verl")
my_function("jovs")
my_function("ash")

verl Refsnes
jovs Refsnes
ash Refsnes

Number of Arguments

In [44]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

Arbitrary Arguments, *args

In [43]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

Keyword Arguments

In [45]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

Arbitrary Keyword Arguments, **kwargs

In [46]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

Default Parameter Value

In [47]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

Passing a List as an Argument

In [48]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

Return Values

In [49]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

The pass Statement

In [50]:
def myfunction():
  pass

Recursion

In [51]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

Python Lambda

Syntax

In [ ]:
x = lambda a : a + 10
print(x(5))